<!--Register.html-->
<!--# Author: CL-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Start Here</title>
<!--<link rel="stylesheet" href="/home/parallels/Desktop/Therebears/templates/css/style.css" />-->
<link rel="stylesheet" href="css/style.css" />
<!--背景图片自动更换-->
<!--<script src="/home/parallels/Desktop/Therebears/templates/js/jquery.wordsplit.js"></script>-->
<!--<script src="/home/parallels/Desktop/Therebears/templates/js/jquery.min.js"></script>-->
<!--<script src="/home/parallels/Desktop/Therebears/templates/js/supersized.3.2.7.min.js"></script>-->
<!--<script src="/home/parallels/Desktop/Therebears/templates/js/supersized-init.js"></script>-->

<script src="js/jquery.wordsplit.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/supersized.3.2.7.min.js"></script>
<script src="js/supersized-init.js"></script>

<script></script>

<body>

<div class="register-container">
	<h1>Start Here</h1>
	<br><br><br>
	<div class="connect">
		<p>Link the world. Share to world.</p>
	</div>
	
	<form action="{{url_for('register')}}" method="post" id="signup" >
		<div>
			<input id="username" input type="text" name="username" class="username" placeholder="Username" autocomplete="off"minlength="3" maxlength="16"/>
		</div>
		<div>
			<input id="password" input type="password" name="password" class="password" placeholder="Password" oncontextmenu="return false" onpaste="return false" minlength="8" maxlength="36" />
		</div>
		<div>
			<input id="confirmpassword" input type="password" name="confirm_password" class="confirm_password" placeholder="Confirmpassword" oncontextmenu="return false" onpaste="return false" minlength="8" maxlength="36"/>
		</div>
		<div>
			<input id="phonenumber" input type="phone_number" name="phone_number" class="phone_number" placeholder="Phonenumber" autocomplete="off" id="number"/>
		</div>
		<div>
			<input id="email" input type="email" name="email" class="email" placeholder="Email" oncontextmenu="return false" onpaste="return false" />
		</div>
		<!--<p><input type="submit" id="login" ></p>-->
		<button id="submit" type="submit" >Sign Up</button>
	 </form>
	        <script>

$("#submit").click(

function (){
    //获取页面中登录名和密码
    var usern=$("#username").val();
    var pwd=$("#password").val();
    var cfmpwd=$("#confirmpassword").val();
    var tel=$("#phonenumber").val();
    var eml=$("#email").val();
    if(usern=="")
	{
		alert("Username cannot be empty")

		return false;
	}
	if(pwd=="")
	{
		alert("Password cannot be empty")

		return false;
	}
	if(cfmpwd=="")
	{
		alert("Confirmpassword cannot be empty")

		return false;
	}
	if(tel=="")
	{
		alert("Phonenumber cannot be empty")

		return false;
	}
	if(eml=="")
	{
		alert("Email cannot be empty")

		return false;
	}
   if(pwd!=cfmpwd)
   {
       alert("Inconsistent password and confirmation password")
	   return false;
   }
  //输入信息不能为空
   if(usern==""||tel==""|| pwd==""||cfmpwd==""||eml=="")
   {
    alert("Please enter the complete information")
    return false;
    }


    //测试用户名是否符合规范
    //用户名正则，3到16位（字母，数字，下划线，减号）
    var uPattern = /^[a-zA-Z0-9_-]{3,16}$/;
    if(uPattern.test(usern)==false)
 {   alert("Username does not meet the standard,\n" +
  " 3 to 16 alphanumeric characters\n" +
  ", underscore, minus")
        return false;
 };
    //测试密码是否符合规范
 //密码强度检测，禁止使用弱口令，8到36位，包括至少1个字母，1个数字，1个特殊字符
    var pPattern = /(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,36}/;
    if(pPattern.test(pwd)==false)
	{
	    alert("It is forbidden to use weak passwords,\n" +
			" 8 to 36 digits, including at least 1 letter,\n" +
			"  1 digit, 1 special character:?.=")
           return false;
	}
	//测试电话号码是否符合规范
	var tPattern = /^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/;
	if(tPattern.test(tel)==false)
	{
     alert("Please enter the correct Phonenumber")
		return false;
    }
	//测试邮箱是否符合规范
     var ePattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	if(ePattern.test(eml)==false)
	{
	    alert("Please enter the correct Email")
		return false;
	}

});
            </script>

	<a href="{{url_for('login')}}">
		<button type="button" class="register-tis">Login</button>
	</a>

</div>

</body>
</html>
