<!--Upload.html-->
<!--# Author: HFf CL-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Upload</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="css/style.css" />

<script src="js/jquery.wordsplit.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/supersized.3.2.7.min.js"></script>
<script src="js/supersized-init.js"></script>

</head>
<body>
<div class="login-container">
<h1>Start Here</h1>

   <div class="connect">
      <p>Link the world. Share to world.</p >
   </div>

<form id="form1" method="post" action="/upload/result" enctype="multipart/form-data">

    <div>
        <input id="File1" type="file" name="file"/>
    </div>
   <div>
      <input type="count" name="count" class="count" placeholder="download times" oncontextmenu="return false" onpaste="return false" />
   </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>
</div>
</body>
</html>
